azure-identity==1.15.0
Flask==3.0.2
openai==1.12.0
azure-search-documents==11.4.0
azure-storage-blob==12.19.0
azure-cosmos==4.5.1
azure-monitor-opentelemetry==1.2.0
opencensus-ext-azure==1.1.13
tiktoken==0.6.0
opentelemetry-instrumentation-flask==0.48b0
