azure-identity==1.13.0
Flask==2.3.2
openai==0.27.7
azure-search-documents==11.4.0b6
azure-storage-blob==12.14.1
azure-cosmos==4.5.0
opencensus-ext-azure==1.1.9
tiktoken==0.4.0
azure-monitor-opentelemetry==1.0.0b15
opentelemetry-instrumentation-flask==0.40b0